@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
/* body {background: #363f48;color: white;font: normal 12px 'Open Sans', sans-serif;margin-top: 20px;} */
ul.countdown {list-style: none;margin: 5px 0 0;padding: 10px;display: block;text-align: center;float:right;background:#76B13F;position:absolute; right:20px; top:20px;}
ul.countdown li {display: inline-block;}
ul.countdown li span {font-size: 45px;font-weight: bold;line-height: 45px;}
ul.countdown li.seperator {font-size:45px;line-height: 35px;vertical-align: top;}
ul.countdown li p {color: #000;font-size: 14px;margin:0px;}
a {color: #76949F;text-decoration: none;}
a:hover {text-decoration: underline;}
.source {width: 405px;margin: 0 auto;background: #4f5861;color: #a7abb1;font-weight: bold;display: block;white-space: pre;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.btn {background: #f56c4c;margin: 40px auto;padding: 12px;display: block;width: 100px;color: white;text-align: center;text-transform: uppercase;font-weight: bold;text-decoration: none;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.btn:hover {text-decoration: none;opacity: .7;}
#jquery-script-menu {position: fixed;height: 90px;width: 100%;top: 0;left: 0;border-top: 5px solid #316594;background: #fff;-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);z-index: 999999;padding: 10px 0;}

.jquery-script-center {width: 960px;margin: 0 auto;}
.jquery-script-center ul {width: 212px;float:left;line-height:45px;margin:0;padding:0;list-style:none;}
.jquery-script-center a {text-decoration:none;}
.jquery-script-ads {width: 728px;height:90px;float:right;}
.jquery-script-clear {clear:both;height:0;}
/* Offer Banner */

.img-offer-thumb{ position:relative; height:150px; overflow:hidden;}
.img-offer-thumb img{ width:100%; height:150px; position:absolute;}
.img-offer-thumb a{ color:#FFFFFF; text-decoration:none; font-size: 0;}

.offer-banner{ position:absolute; width:100%; padding:20px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;top:0; z-index:2; background:rgba(45, 45, 45, 0.4); height:150px; }
	
.offer-banner-title{color:#fff; font-size:20px; font-weight:bold; padding:0px 0; display:block; text-transform:capitalize; }
.offer-banner-content{color:#fff; font-size:13px; width:50%;}

.offer-banner ul li {margin-left: 0px!important ;}

@media (max-width:640px){
ul.countdown li span{font-size:30px;}
ul.countdown{padding:10px;}
ul.countdown li.seperator{font-size:30px; line-height:44px;}
}

@media (max-width:500px){
.offer-banner{padding:10px;}
.offer-banner-title{font-size:16px;}
.offer-banner-content{font-size:12px;}
ul.countdown{left:0; top:52px; float:left; width:100%;}
}
.offer-banner-content{color: #fff;font-size: 13px;height: 20px !important;overflow: hidden;width: 100%;}
